## Jupyter Notebook 
This cell shows you some examples of markdown language.
이렇게 한글로 정리할 수도 있고, 
1. 번호에
2. 맞추어 정리할 수도 
3. 있습니다.

더 많은 형식을 알아보고 싶으시면 아래 두 링크를 참고하세요.
* https://gist.github.com/ihoneymon/652be052a0727ad59601 
* https://www.heropy.dev/p/B74sNE

* * *

## Variable

### Guess!

In [1]:
lecturer = "Jiyeon Seo"
print(lecturer)

Jiyeon Seo

In [2]:
id(lecturer)

2233824996848

In [3]:
a=7
b=5
print(a+b)

12

In [4]:
a=7
b=5
print("a+b")

a+b

### Variable name examples

In [5]:
#good examples
name = 'Jiyeon Seo'
this_year = 2024
last_year = 2023
month = 2
n_friends = 20
n_stocks = 5000
major = "Finance"
is_BTS_famous = True
MAX_ITERATION = 20 # magic number

In [6]:
#bad examples
lI0O = 'confusing' # capital i and lower case of L, number zero and capital letter O
7days = 7

SyntaxError: invalid syntax (1144165853.py, line 3)

In [7]:
#bad example
for = 12

SyntaxError: invalid syntax (2659530618.py, line 2)

---

## Data Types and Basic Operation

### Numeric types

In [8]:
a=1 # interger
b=1 
print(a, b)

1 1

In [9]:
a=1.5 # float
b=3.5 
print(a, b)

1.5 3.5

In [10]:
a = 4.24E2 # float
b = 314E-2
print(a)
print(b)

424.0
3.14

In [11]:
print(2*4) # 곱셈

8

In [12]:
print(3*3*3*3*3) # 3을 다섯 번 곱함

243

In [13]:
print(3**5) # 3의 5승

243

In [14]:
print(7.0/2.0)

3.5

In [15]:
print (7 / 2) # 7 나누기 2 (정수형 계산)
print(7.0/2)

3.5
3.5

In [16]:
print (7 % 2) # 7 나누기 2의 나머지

1

In [17]:
print(7 // 2) # 7나누기 2의 몫

3

In [18]:
a = 1
a = a + 1
print(a)

2

In [19]:
a+=1
print(a)

3

In [20]:
a = a - 1
a -= 1
print(a)

1

### List type
One example of <b>sequential type</b>.

In [53]:
colors = ['red','blue','green']

#### Indexing

In [56]:
print(colors[0])
print(colors[1])
print(colors[2])
print(colors[-2])
print(len(colors))

red
blue
green
blue
3

#### Slicing

In [25]:
cities = ['서울', '부산', '인천', '대구', '대전', '광주', '울산', '수원']
print (cities[0:6], " AND ",  cities[-8:]) # 번수의 0부터 5까지, -9부터 끝까지
print (cities[:])# 변수의 처음부터 끝까지
print (cities[-50:50])# 범위를 넘어갈 경우 자동으로 최대 범위를 지정
print (cities[::2], " AND ", cities[::-1]) # 2칸 단위로, 역으로 슬라이싱

['서울', '부산', '인천', '대구', '대전', '광주']  AND  ['서울', '부산', '인천', '대구', '대전', '광주', '울산', '수원']
['서울', '부산', '인천', '대구', '대전', '광주', '울산', '수원']
['서울', '부산', '인천', '대구', '대전', '광주', '울산', '수원']
['서울', '인천', '대전', '울산']  AND  ['수원', '울산', '광주', '대전', '대구', '인천', '부산', '서울']

In [26]:
color2 = ['orange', 'black', 'white']
print (colors + color2) # 두 리스트 합치기
len(colors) # 리스트 길이
colors[0] = 'yellow' # 0번째 리스트의 값을 변경
print (colors * 2)# color 리스트 2회 반복
'blue' in color2# 문자열 ‘blue‘가 color2 존재 여부 반환
total_color = colors + color2

['red', 'blue', 'green', 'orange', 'black', 'white']
['yellow', 'blue', 'green', 'yellow', 'blue', 'green']

#### List Methods

In [27]:
colors.append("white")# 리스트에 “white” 추가
colors.extend(["black","purple"]) # 리스트에 새로운 리스트 추가
colors.insert(0,"orange")# 0번째 주소에 “orange” 추가
print (colors)

['orange', 'yellow', 'blue', 'green', 'white', 'black', 'purple']

In [28]:
colors.remove("white")# 리스트에 “white” 삭제
del colors[0]# 0번째 주소 리스트 객체 삭제
print (colors)

['yellow', 'blue', 'green', 'black', 'purple']

In [29]:
a = ["color", 1, 0.2]
color = ['yellow', 'blue', 'green', 'black', 'purple']
a[0] = color # 리스트 안에 리스트도 입력 가능
print(a)

[['yellow', 'blue', 'green', 'black', 'purple'], 1, 0.2]

#### List and Memory

In [30]:
a = [5, 4, 3, 2, 1]
b = [1, 2, 3, 4, 5]
b = a
print(b)

[5, 4, 3, 2, 1]

In [45]:
a.sort()
print(b)

[1, 2, 3, 4, 5]

\<Quiz\><br>
위와 같은 현상은 리스트가 메모리에 접근하는 방식 때문에 발생한다고 배웠습니다. b = a 코드로 인해 a와 b가 정말로 같은 메모리를 참조하고 있는지 확인해봅시다.

In [48]:
a = [5, 4, 3, 2, 1]
b = [1, 2, 3, 4, 5]
b = a
a.sort()

print(b) # your code

[1, 2, 3, 4, 5]

\<Quiz\><br>
b에 새로운 리스트를 할당한 이후에는 어떤 변화가 생기는지 살펴봅시다.

In [49]:
b = [6,7,8,9,10]
print(a, b)
print() # your code

[1, 2, 3, 4, 5] [6, 7, 8, 9, 10]

#### Solution

In [50]:
a = [5, 4, 3, 2, 1]
b = [1, 2, 3, 4, 5]
b = a.copy() #copy
print(b)

[5, 4, 3, 2, 1]

\<Quiz\><br>
마지막으로, copy를 사용한 후에는 어떤 변화가 생기는지 살펴봅시다.

In [51]:
a.sort()
print(b)

[5, 4, 3, 2, 1]

In [52]:
print() # your code

#### Packing and Unpacking

In [53]:
t = [1,2,3]
a,b,c = t
print(a)

1

In [124]:
print(b)

2

#### 2D-list

In [121]:
kor_score = [49,79,20,100,80]
math_score = [43,59,85,30, 90]
eng_score = [49,79,48,60,100]
midterm_score = [kor_score, math_score, eng_score]
print (midterm_score[0][2])

20

In [122]:
print(midterm_score)

[[49, 79, 20, 100, 80], [43, 59, 85, 30, 90], [49, 79, 48, 60, 100]]

\<Quiz\><br>
midterm_score에 저장된 이차원 리스트를 펼쳐서 세 개의 일차원 리스트 변수 list_1, list_2, list_3에 저장해봅시다.

In [ ]:
#your code

### String type

In [57]:
import sys
print (sys.getsizeof("a"), sys.getsizeof("ab"), sys.getsizeof("abc"))

50 51 52

#### Format

In [ ]:
str1 = "Hello World"

In [ ]:
str2 = 'Python is fun'

In [ ]:
str3 = """Life is too short, You need python"""

In [ ]:
str4 = '''Life is too short, You need python'''

In [59]:
str5 = 'It\'s ok.'
print(str5)

It's ok.

#### Indexing and Slicing

In [56]:
import sys
print(sys.getsizeof("a"), sys.getsizeof("ab"), sys.getsizeof("abc"))
# “a”, “ab”, “abc”의 각 메모리 사이즈 출력

50 51 52

In [75]:
a = "abcde"
a[0], a[4] # indexing

('a', 'e')

In [76]:
print(a[0], a[4])

a e

In [58]:
print(a[-1], a[-5])

1 5

In [2]:
school = "Korea Advanced Institute of Science and Technology"
print(school[0:5], "and", school[-10:]) # slicing

Korea and Technology

In [60]:
print(school[0:5], school[:5])

Korea Korea

In [83]:
print(school[6:14])

Advanced

In [64]:
print(school[:])

Korea Advanced Institute of Science and Technology

In [65]:
print(school[-50:100])

Korea Advanced Institute of Science and Technology

In [85]:
print(school[::1])

Korea Advanced Institute of Science and Technology

In [66]:
print(school[::2])

KraAvne nttt fSineadTcnlg

In [67]:
print(school[::-1])

ygolonhceT dna ecneicS fo etutitsnI decnavdA aeroK

In [86]:
print(school[::-2])

yoohe n cec oeuisIdcad eo

\<Quiz\><br> 
print(school[pos_idx:neg_idx]) 형식의 슬라이싱을 활용하여 Science 문자열을 출력하고자 합니다. a는 양수, b는 음수라면 a와 b에 들어갈 숫자는 무엇일까요?

In [4]:
pos_idx = 99 # your code
neg_idx = 99 # your code
print(school[28:-15])

Science

#### String Operation

In [61]:
head = "Python"
tail = " is fun!"
head + tail
'Python is fun!'

'Python is fun!'

In [64]:
a = "KAIST"
a * 2

if 'A' in a:
    print(a)
else:
    print("nope")

KAIST

#### String Methods

In [65]:
intro_ts = "Hi, my name is Jiyeon Seo. I'm majoring in finance"
major_lo = 'finance'
major_cap = 'Finance'
major_lo in intro_ts

True

In [66]:
major_cap in intro_ts

False

In [67]:
len(major_cap) # length

7

In [68]:
major_lo.capitalize()

'Finance'

In [69]:
major_lo.upper()

'FINANCE'

In [70]:
major_cap.lower()

'finance'

In [71]:
intro_ts.find('finance')

43

In [72]:
intro_ts[43]

'f'

In [73]:
intro_ts.split(' ')

['Hi,',
 'my',
 'name',
 'is',
 'Jiyeon',
 'Seo.',
 "I'm",
 'majoring',
 'in',
 'finance']

In [74]:
intro_ts.title()

"Hi, My Name Is Jiyeon Seo. I'M Majoring In Finance"

In [75]:
digit_str = '123'
digit_str.isdigit()

True

In [76]:
digit_str.islower()

False

In [77]:
major_lo.islower()

True

### Tuple Type

In [82]:
t = (1,2,3)
print(t+t,t*2)
len(t)

(1, 2, 3, 1, 2, 3) (1, 2, 3, 1, 2, 3)

3

In [78]:
list_example = [4, 8, 6, 'password']
tuple_example = (4, 8, 6, 'password')

In [79]:
list_example[0] = 9
list_example

[9, 8, 6, 'password']

In [80]:
tuple_example[0] = 9

TypeError: 'tuple' object does not support item assignment

In [85]:
t = (1)
print(type(t))
t = (1,)
print(type(t))

<class 'int'>
<class 'tuple'>

### Set Type

In [61]:
# 집합의 표현
s1 = set([1, 2, 3])
s1

{1, 2, 3}

In [62]:
s2 = set('Hello')
s2

{'H', 'e', 'l', 'o'}

In [63]:
# 집합의 값을 인덱싱으로 접근
s1 = set([1, 2, 3])
l1 = list(s1) # [1, 2, 3]
l1[0]

1

In [64]:
l1 = tuple(s1)
l1 # (1, 2, 3)
l1[0] # 1

1

In [71]:
# 값 1개 추가하기
s1 = set([1, 2, 3])
s1.add(4)
s1 # { 1, 2, 3, 4 }

{1, 2, 3, 4}

In [72]:
s1.add(1)
s1

{1, 2, 3, 4}

In [168]:
# 값 여러 개 추가하기
s1 = set([1, 2, 3])
s1.update([4, 5, 6])
s1 # { 1, 2, 3, 4, 5, 6 }

{1, 2, 3, 4, 5, 6}

In [169]:
# 특정 값 제거하기
s1 = set([1, 2, 3])
s1.remove(2)
s1

{1, 3}

In [65]:
# 집합 자료형의 활용
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

In [66]:
# 교집합
print(s1 & s2)
print(s1.intersection(s2))

{4, 5, 6}
{4, 5, 6}

In [67]:
# 합집합
print(s1 | s2) # { 1, 2, 3, 4, 5, 6, 7, 8, 9 }
print(s1.union(s2)) # { 1, 2, 3, 4, 5, 6, 7, 8, 9 }

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [68]:
# 차집합
print(s1 - s2) # { 1, 2, 3 }
print(s2 - s1) # { 8, 9, 7 }
print(s1.difference(s2)) # { 1, 2, 3 }
print(s2.difference(s1)) # { 8, 9, 7 }

{1, 2, 3}
{8, 9, 7}
{1, 2, 3}
{8, 9, 7}

### Dictionary Type

In [74]:
# 딕셔너리
# 딕셔녀리의 표현: {key1: value1, key2: value2, ...}
dic = { 'name' : 'pey', 'phone' : '0119993323', 'birth' : '1118' }
print(dic)

{'name': 'pey', 'phone': '0119993323', 'birth': '1118'}

In [75]:
a = { 1 : 'hi' } # Key : 1, Value : 'hi'
a = { 'a' : [1, 2, 3] } # Key : 'a', Value : [1, 2, 3]

In [76]:
# 딕셔너리 쌍 추가하기
a = { 1 : 'a' }
a[2] = 'b'
a

{1: 'a', 2: 'b'}

In [77]:
a['name'] = 'pey'
a

{1: 'a', 2: 'b', 'name': 'pey'}

In [78]:
a[3] = [1, 2, 3]
a

{1: 'a', 2: 'b', 'name': 'pey', 3: [1, 2, 3]}

In [79]:
# 딕셔너리 요소 삭제하기
del a[1]
a

{2: 'b', 'name': 'pey', 3: [1, 2, 3]}

In [80]:
# 딕셔너리에서 Key 사용해 Value 얻기
grade = { 'pey' : 10, 'julliet' : 99 }
grade['pey'] # 10
grade['julliet'] # 99
a = { 1 : 'a', 2 : 'b' }
a[1] # 'a'

'a'

In [81]:
a[2] # 'b'

'b'

In [82]:
a = { 'a' : 1, 'b' : 2 }
print(a['a']) # 1
print(a['b']) # 2

1
2

In [83]:
dic = { 'name' : 'pey', 'phone' : '0119993323', 'birth' : '1118' }
print(dic['name']) # 'pey'
print(dic['phone']) # '0119993323'
print(dic['birth']) # '1118'

pey
0119993323
1118

In [84]:
# 딕셔너리 만들 때 주의할 사항
a = { 1 : 'a', 1 : 'b' }
a # { 1 : 'b' } 동일한 Key는 사용할 수 없음
# a = { [1, 2] : 'hi' } 변하는 값은 Key로 사용할 수 없음

{1: 'b'}

In [85]:
# Key 리스트 만들기
a = { 'name' : 'pey', 'phone' : '0119993323', 'birth' : '1118' }
a.keys() # dic_keys(['name', 'phone', 'birth'])

dict_keys(['name', 'phone', 'birth'])

In [86]:
# dict_keys 객체를 리스트로 반환
list(a.keys())

['name', 'phone', 'birth']

In [87]:
# Value 리스트 만들기
a.values()

dict_values(['pey', '0119993323', '1118'])

In [88]:
# Key, Value 쌍 얻기
a.items()

dict_items([('name', 'pey'), ('phone', '0119993323'), ('birth', '1118')])

In [89]:
# Key, Value 쌍 모두 지우기
a.clear()
a # ()

{}

In [90]:
# Key로 Value 얻기
a = { 'name' : 'pey', 'phone' : '0119993323', 'birth' : '1118' }

In [91]:
a.get('name') # 'pey'

'pey'

In [92]:
a.get('phone') # '0119993323'

'0119993323'

In [93]:
a.get('nokey') # None

In [94]:
a['nokey'] #Error

KeyError: 'nokey'

In [158]:
a.get('foo', 'bar') # default값인 'bar' 반환

'bar'

In [ ]:
# Key가 딕셔너리 안에 있는지 조사하기
a = { 'name' : 'pey', 'phone' : '0119993323', 'birth' : '1118' }
'name' in a # True

In [159]:
'email' in a # False

False

### Boolean Type

진실 혹은 거짓

In [15]:
a=True # Boolean
b=False # true or false (X)
print(a, b)

True False

In [177]:
'abc' in 'abcde'

True

In [178]:
'cdef' in 'abcde'

False

In [179]:
12 ==13

False

In [183]:
12 < 13

True

In [180]:
12 == 12

True

In [181]:
13+15 == 28

True

In [60]:
'abc' + 'd' == 'abcd'

True

In [ ]:
bool([1, 2, 3])

In [ ]:
bool([])

In [ ]:
bool(0)

In [ ]:
bool(3)

In [ ]:
# 자료형의 참과 거짓
a = [1, 2, 3, 4]
while a :
    a.pop()

In [ ]:
if [] :
    print("True")
else :
    print("False")

In [ ]:
if [1, 2, 3] :
    print("True")
else :
    print("False")

## Type Conversion

In [26]:
a=10
print(a)

10

In [27]:
a = float(10)
print(a)

10.0

In [28]:
b = 3
print(a/b)

3.3333333333333335

In [29]:
a = 10.7
b = 10.3
a = int(a)
b= int(b)
print(a+b)

20

In [30]:
print(a)
print(b)

10
10

In [31]:
a = '76.3'
b=float(a)
print(a)

76.3

In [32]:
print(b)

76.3

In [33]:
print(a+b)

TypeError: can only concatenate str (not "float") to str

In [ ]:
print(type(a), type(b))

In [34]:
a=float(a)
b=a
print(a+b)

152.6

In [35]:
a=str(a)
b=str(b)
print(a+b)

76.376.3

In [ ]:
print(a+b)

In [36]:
a=int(10.3)
b=float(10.3)
c=str(10.3)
print(type(a), type(b), type(c))

<class 'int'> <class 'float'> <class 'str'>

In [37]:
c = 38.8
print(c)

38.8

<Lab: Yesterday Counter\> 비틀즈와 배우는 파일 읽기<br>
==================================================<br>
Count 'yesterday' and 'Yesterday' separately. (Hint: use string method)
==================================================

In [9]:
f = open("yesterday.txt", "r")
yesterday_lyric = ""
while 1:
    line = f.readline()
    # print(line)
    if not line:
        break
    yesterday_lyric = yesterday_lyric + line.strip() + "\n"
    # print (yesterday_lyric)
f.close()
print(yesterday_lyric)

print(yesterday_lyric.lower().count('yesterday'));

Yesterday, all my troubles seemed so far away
Now it looks as though they're here to stay
oh, I believe in yesterday

Suddenly, I'm not half the man I used to be
There's a shadow hanging over me
Oh, yesterday came suddenly.

Why she had to go?
I don't know, she wouldn't say
I said something wrong
Now I long for yesterday.

Yesterday love was such an easy game to play
Now I need a place to hide away
Oh, I believe in yesterday.

Why she had to go?
I don't know, she wouldn't say
I said something wrong
Now I long for yesterday.

Yesterday love was such an easy game to play
Now I need a place to hide away
Oh, I believe in yesterday...

9

In [98]:
# your code
n_of_yesterday =
print ("Number of a Word 'Yesterday'" , n_of_yesterday)

SyntaxError: invalid syntax (2127285641.py, line 2)

\<Lab: Yesterday Counter 2\><br>
Count all 'yesterday' or 'Yesterday' or 'yeSTerDay' or, ...

In [ ]:
# your code
n_of_yesterday_2 =
print ("Number of a Word 'Yesterday'" , n_of_yesterday_2)

\<Lab: Yesterday Counter 3\><br>
Yesterday 가사에 몇 가지 단어가 사용되었는지 확인해보세요. 이 문제에서 단어는 띄어쓰기를 기준으로 정의하며, 대문자와 소문자를 구분하지 않습니다. 만약, I'm과 I'M이 가사에 포함되면 동일한 단어로 사용되었다고 간주합니다.

In [ ]:
# your code
n_of_unique_words =
print ("Number of unique words:" , n_of_unique_words)

#### multiline formats

In [ ]:
multiline_1 = "Life is too short\nYou need python"
multiline_2 = """Life is too short, 
You need python"""
multiline_3 = '''Life is too short, 
You need python'''

In [ ]:
print(multiline_1)

In [ ]:
print(multiline_2)

In [ ]:
print(multiline_3)

In [ ]:
multiline_2

---

## Console In & Out!

In [ ]:
print("Enter your name")
somebody = input()
print("Hi", somebody)

In [47]:
print("본 프로그램은 섭씨를 화씨로 변환해주는 프로그램입니다")
print("변환하고 싶은 섭씨  온도를 입력해 주세요:")

user_input = input()
fah = ((9/5) * float(user_input) ) + 32

print("섭씨온도 :", user_input)
print("화씨온도 :", fah)

본 프로그램은 섭씨를 화씨로 변환해주는 프로그램입니다
변환하고 싶은 섭씨  온도를 입력해 주세요:
32
섭씨온도 : 32
화씨온도 : 89.6

---

## Print Formatting

In [41]:
#formatting intro
print(1,2,3)
print("a" + " " +  "b" + " " + "c")
print("%d %d %d" % (1,2,3))
print("{} {} {}".format("a","b","c"))
print("{} {} {}".format("a","b","c"))
name = 'Jiyeon Seo'
print(f"My name is {name}.")

1 2 3
a b c
1 2 3
a b c
a b c
My name is Jiyeon Seo.

In [42]:
name = 'Jiyeon Seo'
this_year = 2024
print(f'My name is {name}.')
print(f'This year: {this_year}, Last year: {this_year-1}.')

My name is Jiyeon Seo.
This year: 2024, Last year: 2023.

In [43]:
print("----------------------------------")
# from https://pyformat.info/
print('%s %s' % ('one', 'two'))
print('{} {}'.format('one', 'two'))
print('%d %d' % (1, 2))
print('{} {}'.format(1, 2))

----------------------------------
one two
one two
1 2
1 2

In [44]:
print("----------------------------------")
#%-formatting from https://wikidocs.net/13
print("I eat %d apples." % 3)
print("I eat %s apples." % "five")
number = 3; day="three"
print("I ate %d apples. I was sick for %s days." % (number, day))
print("Product: %s, Price per unit: %f." % ("Apple", 5.243))

----------------------------------
I eat 3 apples.
I eat five apples.
I ate 3 apples. I was sick for three days.
Product: Apple, Price per unit: 5.243000.

In [46]:
print("----------------------------------")
#%-formatting from https://wikidocs.net/13
location = 'Seoul'; name='Jiyeon Seo'
print("I'm living in {0}.".format(location))
print("My name is {0} and I'm living in {1}.".format(name,location))
print("Product: {0}, Price per unit: {1:.3f}.".format("Apple", 5.243))

print("----------------------------------")
print("Product: %5s, Price per unit: %.5f." % ("Apple", 5.243))
print("Product: {0:5s}, Price per unit: {1:.5f}.".format("Apple", 5.243))

----------------------------------
I'm living in Seoul.
My name is Jiyeon Seo and I'm living in Seoul.
Product: Apple, Price per unit: 5.243.
----------------------------------
Product: Apple, Price per unit: 5.24300.
Product: Apple, Price per unit: 5.24300.

In [1]:
"Product: {0:5s}, Price per unit: {1:.5f}.".format("Apple", 5.243)

'Product: Apple, Price per unit: 5.24300.'