## If-else

In [3]:
print("Tell me your age?")
myage = int(input())
if (myage < 30):
    print("Welcome to the Club")
else:
    print("Oh! No. You are not accepted")

Tell me your age?
Welcome to the Club

In [2]:
money = True
if money:
    print("택시를 타고 가라")
else:
    print("걸어 가라")

택시를 타고 가라

\<Quiz\> 카드의 축복<br>
돈이 3000원 이상 있거나 카드가 있다면 택시를 타고 가고, 그렇지 않으면 걸어가도록 코드를 구현해보세요.

In [8]:
money = 3000
card = True
if money >= 3000 or card :
    print("택시를 타고 가세요")
else:
    print("걸어 가세요")
# your code

택시를 타고 가세요

### 학점 프로그램 (절망편)

In [4]:
score = 95
if score >= 90: 
    grade = 'A'
    print(f"Grade is {grade}")
if score >= 80: 
    grade = 'B'
    print(f"Grade is {grade}")
if score >= 70: 
    grade = 'C'
    print(f"Grade is {grade}")
if score >= 60: 
    grade = 'D'
    print(f"Grade is {grade}")
if score < 60: 
    grade = 'F'
    print(f"Grade is {grade}")

Grade is A
Grade is B
Grade is C
Grade is D

### 학점 프로그램 (희망편)

In [5]:
score = 95
if score >= 90: 
    grade = 'A'
    print(f"Grade is {grade}")
elif score >= 80: 
    grade = 'B'
    print(f"Grade is {grade}")
elif score >= 70: 
    grade = 'C'
    print(f"Grade is {grade}")
elif score >= 60: 
    grade = 'D'
    print(f"Grade is {grade}")
else: 
    grade = 'F'
    print(f"Grade is {grade}")

Grade is A

### Some mistakes

In [9]:
some_list = []
if some_list.append(3):
    print('True')

\<Quiz\> 디버깅 예습<br>
위 코드에서 True가 출력되지 않은 이유는 무엇일까요?

In [2]:
list_2D = [[1,4,2],[9,5,7]]
if 4 in list_2D:
    print('True')

\<Quiz\> 디버깅 예습<br>
위 코드에서 True가 출력되지 않은 이유는 무엇일까요?

### 조건부 표현식
변수 = 조건문이_참인_경우의_값 if 조건문 else 조건문이_거짓인_경우의_값

In [3]:
score = 70
message = "success" if score >= 60 else "failure"
print(message)

success

## for-loop

In [9]:
for looper in [1,2,3,4,5]:
    print("hello")

hello
hello
hello
hello
hello

In [10]:
for _ in [1,2,3,4,5]: # _ for not used element
    print("hello")

hello
hello
hello
hello
hello

In [14]:
for i in range(1, 10, 2):
    print(i)

1
3
5
7
9

In [12]:
for i in range(10, 1, -1):
    print(i)

10
9
8
7
6
5
4
3
2

In [13]:
for i in range(10, 1, -2):
    print(i)

10
8
6
4
2

In [14]:
for coffee in ['Americano', 'latte', 'frafuchino']:
    print(coffee)

Americano
latte
frafuchino

In [15]:
original_sentence = "I love you"
for char in original_sentence:
    print(char)

I

l
o
v
e

y
o
u

## while-loop

In [17]:
i = 1
while i < 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9

for loop으로 변환가능

In [18]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

## 반복의 제어 – break, continue

In [2]:
for i in range(10):
    if i == 5: #특정 조건에서 반복 종료
        break
    print(i)
print("EOP")

0
1
2
3
4
EOP

In [3]:
for i in range(10):
    if i == 5: #특정 조건에서 명령 skip
        continue
    print(i)
print("EOP")

0
1
2
3
4
6
7
8
9
EOP

## 반복의 제어 – else

In [1]:
for i in range(10):
    print(i)
    if i == 5: break
else: print("EOP")

0
1
2
3
4
5

In [22]:
i =0
while i < 10: 
    print (i,)
    i += 1
else:
    print("EOP")

0
1
2
3
4
5
6
7
8
9
EOP

### <연습>구구단 계산기

In [24]:
print("구구단 몇단을 계산할까요?")
user_input = input()
print("구구단 " +user_input +"단을 계산합니다")
int_input = int(user_input)
for i in range(1, 10):
    result = int_input  * i
    print (user_input, "X", i, "=", result)

구구단 몇단을 계산할까요?

 2

구구단 2단을 계산합니다
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

### Loop Overview

In [16]:
original_sentence = "I love you"
reverse_sentence = ''
for char in original_sentence:
    print(char, "=====", reverse_sentence, "=====",)
    reverse_sentence = char + reverse_sentence
    print(reverse_sentence)

I =====  =====
I
  ===== I =====
 I
l =====  I =====
l I
o ===== l I =====
ol I
v ===== ol I =====
vol I
e ===== vol I =====
evol I
  ===== evol I =====
 evol I
y =====  evol I =====
y evol I
o ===== y evol I =====
oy evol I
u ===== oy evol I =====
uoy evol I

In [5]:
sentence = "I love you"
reverse_sentence = ''
for char in sentence:
    reverse_sentence = char + reverse_sentence
print (reverse_sentence)

uoy evol I

In [25]:
decimal = 10
result = ''
while (decimal > 0):
    remainder = decimal % 2
    decimal = decimal // 2
    result = str(remainder) + result
print (result)

1010

## Loop- Debugging

In [28]:
print ("input decimal number: ",)
decimal = int(input())
result =""
loop_counter = 0
while (decimal > 0):
    temp_decimal_input = decimal
    temp_result_input=result

    remainder = decimal % 2
    decimal = decimal // 2
    result = str(remainder) + result

    print ("-----------", loop_counter, "loop value check -------- ")
    print ("Initial decimal:", temp_decimal_input,
           ", Remainder:",remainder,
           ", Initial result", temp_result_input)
    print ("Output decimal:", decimal,
           "Output result:", result)
    print ("------------------------------------------------------")
    print ("")

    loop_counter += 1
print ("Binary number is", result)

input decimal number:

 412

----------- 0 loop value check --------
Initial decimal: 412 , Remainder: 0 , Initial result
Output decimal: 206 Output result: 0
------------------------------------------------------

----------- 1 loop value check --------
Initial decimal: 206 , Remainder: 0 , Initial result 0
Output decimal: 103 Output result: 00
------------------------------------------------------

----------- 2 loop value check --------
Initial decimal: 103 , Remainder: 1 , Initial result 00
Output decimal: 51 Output result: 100
------------------------------------------------------

----------- 3 loop value check --------
Initial decimal: 51 , Remainder: 1 , Initial result 100
Output decimal: 25 Output result: 1100
------------------------------------------------------

----------- 4 loop value check --------
Initial decimal: 25 , Remainder: 1 , Initial result 1100
Output decimal: 12 Output result: 11100
------------------------------------------------------

----------- 5 loop value check --------
Initial decimal: 12 , Remainder: 0 , Initial result 11100
Output decimal: 6 Output result: 011100
------------------------------------------------------

----------- 6 loop value check --------
Initial decimal: 6 , Remainder: 0 , Initial result 011100
Output decimal: 3 Output result: 0011100
------------------------------------------------------

----------- 7 loop value check --------
Initial decimal: 3 , Remainder: 1 , Initial result 0011100
Output decimal: 1 Output result: 10011100
------------------------------------------------------

----------- 8 loop value check --------
Initial decimal: 1 , Remainder: 1 , Initial result 10011100
Output decimal: 0 Output result: 110011100
------------------------------------------------------

Binary number is 110011100

### 평균 점수 구하기

In [8]:
kor_score=[49,79,20,100,80]
math_score=[43,59,85,30,90] 
eng_score=[49,79,48,60,100]
midterm_score=[kor_score,math_score,eng_score]

In [9]:
student_score = [0,0,0,0,0]
i = 0
for subject in midterm_score:
    for score in subject:
        student_score[i] += score # 각 학생마다 개별로 교과 점수를 저장
        i += 1 # 학생 index 구분
    i = 0 # 과목이 바뀔 때 학생 인덱스 초기화
else:
    a, b, c, d, e = student_score # 학생 별 점수를 unpacking 
    student_average = [a/3,b/3,c/3,d/3,e/3] #
    print (student_average)

[47.0, 72.33333333333333, 51.0, 63.333333333333336, 90.0]

### Debugging

In [11]:
x = 2
 y = 5 # IndentationError
print (x+y)

IndentationError: unexpected indent (2302897142.py, line 2)

In [12]:
pront (x+y) # Not Print, But Pront

NameError: name 'pront' is not defined

In [13]:
Dfmba = "ACE"
print (DFMBA)

NameError: name 'DFMBA' is not defined

In [15]:
import trapezium_area as ta
ta.addition(10,5)

15

In [16]:
ta.multiplication(10,5)

50

In [17]:
ta.divided_by_2(50)

25.0

In [22]:
import trapezium_area_test

In [21]:
import trapezium_area_test2

15
50
25.0

# 함수

In [29]:
# 사각형의 넓이를 구하는 함수
def calculate_rectangle_area (x , y):
    return x * y	# 가로, 세로를 곱해서 반환

In [30]:
calculate_rectangle_area(4,5)

20

In [31]:
rectangle_x = 10
rectangle_y = 20
print ("사각형 x의 길이: ",rectangle_x)
print ("사각형 y의 길이: ",rectangle_y)
print ("사각형의	넓이: ", calculate_rectangle_area(rectangle_x, rectangle_y))

사각형 x의 길이:  10
사각형 y의 길이:  20
사각형의	넓이:  200

In [32]:
def f(x):
    return 2*x+7
def g(x):
    return x ** 2
x = 2

In [33]:
print(f(x))

11

In [34]:
print(f(x) + g(x) + f(g(x)) + g(f(x)))

151

In [35]:
def a_rectangle_area():# 인자	X , 리턴	값	X
    print (5 * 7)
def b_rectangle_area(x,y): # 인자	O , 리턴	값	X
    print (x * y)
def c_rectangle_area():	# 인자	X , 리턴	값	O
    return (5 * 7)
def d_rectangle_area(x ,y):#  인자	O , 리턴	값	O
    return (x * y)

a_rectangle_area() 
b_rectangle_area(5,7) 
print(c_rectangle_area())
print(d_rectangle_area(5,7))

35
35
35
35

In [36]:
print(a_rectangle_area())

35
None

### Scoping Rule

In [4]:
def test(t):
    print(x)
    t = 20
    print("In Function :", t)

x = 10
test(x)
print(t)

10
In Function : 20

NameError: name 't' is not defined

In [42]:
def f():
    s = "I love London!"
    print(s)

In [43]:
s = "I love Paris!" 
f()
print(s)

I love London!
I love Paris!

In [44]:
def f():
    global s
    s = "I love London!"
    print(s)

s = "I love Paris!" 
f()
print(s)

I love London!
I love London!

In [5]:
def calculate(x, y):
    total = x + y	# 새로운	값이	할당되어	함수	내	total은	지역변수가	됨
    print ("In Function")
    print ("a:", str(a), "b:", str(b), "a+b:", str(a+b), "total :", str(total)) 
    return total

In [6]:
a = 5
b = 7
total = 0
print ("In Program - 1")
print ("a:", str(a), "b:", str(b), "a+b:", str(a+b))

sum_value = calculate (a,b) 
print ("After Calculation")
print ("Total :", str(total), " Sum:", str(sum_value)) # 지역변수는	전역변수에	영향	X

In Program - 1
a: 5 b: 7 a+b: 12
In Function
a: 5 b: 7 a+b: 12 total : 12
After Calculation
Total : 0  Sum: 12

## Recursive Function

In [52]:
def factorial(n):
    if n == 1:
        return 1
    else:
        return n * factorial(n-1)
print (factorial(int(input("Input Number for Factorial Calculation: "))))

Input Number for Factorial Calculation:  6

720

### Arguments

In [7]:
def print_somthing(my_name, your_name):
    print("Hello {0}, My name is {1}".format(your_name, my_name))

print_somthing("Jiyeon", "DFMBA") 
print_somthing(your_name="DFMBA", my_name="Jiyeon")

Hello DFMBA, My name is Jiyeon
Hello DFMBA, My name is Jiyeon

In [8]:
def print_somthing_2(my_name, your_name="DFMBA"):
    print("Hello {0}, My name is {1}".format(your_name, my_name))

print_somthing_2("Jiyeon", "DFMBA")
print_somthing_2("Jiyeon")

Hello DFMBA, My name is Jiyeon
Hello DFMBA, My name is Jiyeon

In [9]:
def asterisk_test(a, b, *args): 
    return a+b+sum(args)

print(asterisk_test(1, 2, 3, 4, 5))

15

In [10]:
def asterisk_test_2(*args): 
    x, y, z = args
    return x, y, z

print(asterisk_test_2(3, 4, 5))

(3, 4, 5)

In [13]:
def kwargs_test_1(**kwargs): 
    print(kwargs)


def kwargs_test_2(**kwargs): 
    print(kwargs)
    print("First value is {first}".format(**kwargs)) 
    print("Second value is {second}".format(**kwargs)) 
    print("Third value is {third}".format(**kwargs))

In [17]:
kwargs_test_2(**{"first":"hey","second":"ho","third":"go"})

{'first': 'hey', 'second': 'ho', 'third': 'go'}
First value is hey
Second value is ho
Third value is go

In [18]:
def kwargs_test_3(one,two, *args, **kwargs): 
    print(one+two+sum(args))
    print(kwargs)

kwargs_test_3(3,4,5,6,7,8,9, first=3, second=4, third=5)

42
{'first': 3, 'second': 4, 'third': 5}